<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .left{background:red;}
    .right{background:blue;}
    .main{background:yellow;height:200px;margin-left:110px;margin-right:110px;}
    .left{float:left;width:100px;}
    .right{float:right;width:100px;}
  </style>
</head>
<body>
  <div class="left">left left left left left left left left left </div>
  <div class="right">right right right right right right right </div>
  <div class="main">main main main main main main main main </div>
  
</body>
</html>
