<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="index.css">
  <style>
    *{margin:0;}
    .clearfix:after{content:"";display:block;clear:both;}
    .left{background:blue;width:100px;float:left;position:relative;}
    .right{background:red;margin-left:110px;}
    .right-fix{width:100%;float:left;margin-left:-100px;}
  </style>
</head>
<body>
  <div class="parent">
    <div class="left">
      <p>left</p>
    </div>
    <div class="right-fix clearfix">
      <div class="right">
        <p>right</p>
        <p>right</p>
      </div>
    </div>
  </div>
</body>
</html>

