.clearfix:after{content:"";display:block;clear:both;}
.layout .num1{background:RGBA(229, 20, 0, 1.00);}
.layout .num2{background:#FF0097;}
.layout .num3{background:RGBA(78, 179, 185, 1.00);}
.num{height:200px;}
.layout>div{float:left;}
.num1,.num3{width:100px;}
.num1{margin-left:-100%;}
.num3{margin-left:-100px;}
.num2{margin-left:110px;margin-right:110px;}
.box{width:100%;}

